/* css */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(blurchicago.png);
    background-size: cover;
    background-position: center 100%;
    color: #fff;
    padding: 0;
    text-align: left;
    height: 700px;
}

.overlay-image {
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    height: auto;
}

h1 {
    position: relative;
    padding: 1rem 1.5rem;
    margin-top: auto;
    letter-spacing: -3px;
    line-height: 0.8;
    font-weight: 500;
    font-size: 40px;
    gap: 0px;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
